body {
  background-color: rgb(237, 193, 18);
}

.navbar {
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: black;
  list-style: none;
}

.routes {
  float: left;
}

.routes {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.deco {
  text-decoration: none;
  color: white;
  padding: 1rem;

}

.deco:hover {
  background-color: rgb(246, 115, 0);
  color: black;
}

/* .active {
  color: orangered;
} */

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.heading {
  display: flex;
  margin-top: 7rem;
  font-size: 3rem;
  justify-content: center;
  color: red;
  font-family: monospace
    /* border: 2px solid black; */
}

.list {
  background-color: black;
  color: white;
  margin-left: 5rem;
  border-radius: 20px;
  /* border: 2px solid blue; */
}

.points {
  /* border: 2px solid blue; */
  padding: 5px;
  margin-left: 1rem;
}


input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  display: flex;
  color: white;
  background-color: blue;
  width: 7rem;
  float: right;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 0.8rem;
  justify-content: center;
  font-size: 0.9rem;
  margin: 2px 5px 2px 0px;
}

input[type=submit]:hover {
  background-color: rgb(64, 69, 85);
}


.your-vehicle {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-left: 8px;
  margin-top: 5px;
  /* border: 2px solid black; */
}

.vehicles-search {
  display: flex;
  /* background-color: yellow; */
  justify-content: space-between;
}

.search-box {
  width: 35%;
  border-radius: 20px;
  margin-right: 2px;
}

.container-card {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  font-size: 1.2rem;
  /* border: 2px solid black; */
  border-radius: 20px;
  white-space: pre-wrap;
  flex-wrap: wrap;
  padding-left: 2px;
  min-width: 12rem;
  min-height: 11rem;
  max-width: 20rem;
  max-height: 25rem;
  float: left;
  align-items: center;
  margin: 7px 7px 3px 7px;
  justify-content: space-between;
}

.vehicle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.vehicle-name {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 1px 0px;
  text-align: center;
  font-size: 1.5rem;
}

.vehicle-number {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  float: left;

  position: relative;
  /* left: -20px; */
  justify-content: flex-start;
  justify-items: flex-start;
  text-align: left;
  align-self: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}


.delete {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  margin: 2px 0px 2px 0px;
  background-color: blue;
  border: none;
  border-radius: 20px;
  padding: 0.8rem;
  color: white;
  cursor: pointer;
  width: 5rem;
}

.delete:hover {
  background-color: rgb(46, 79, 181);
}

.search-box,
input[type=text] {
  display: flex;
  /* border: 3px solid green; */
  align-items: center;
  background-color: yellow;
  border: none;
}

.search-box,
input[type=text],
textarea:focus {
  outline: yellowgreen;
}

.search-icon {
  display: flex;
  max-width: 2.25rem;
  /* border: 3px solid green; */
}

.searchtext {
  outline: none;
  background-color: yellow;
}

.vehicle-time {
  font-size: 20px;
}